<!-- Content heading -->
<% if (title) { %>
    <h1><%- title %></h1>
    <%} else {
        res.redirect('/')
    } %>
  <%- messages()%>

  <% if (errors) { %>
      <ul class="notice">
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
    <% } %>


<form class="account" action="/inv/update" method="post" id="updateForm"> 
    <p>**All fields are required</p>
    <div class="input-control">
    <label for="classification">Classification</label>
    <%- classificationDropdown %>
   </div>

   <div class="input-control">
    <label for="make">Make</label>
    <input type="text" id="make" name="inv_make" placeholder="Min of 3 characters" 
     pattern="^([a-zA-Z]){3}$"  
     required  <% if(locals.inv_make) { %> value="<%= locals.inv_make %>"
     <% } %>>
   </div> 

    <div class="input-control">
    <label for="model">Model</label>
    <input type="text" id="model" name="inv_model" 
    placeholder="Min of 3 characters" min="1900" max="2030" pattern="^([a-zA-Z]){3}$" 
    <% if(locals.inv_model) { %> value="<%= locals.inv_model %>"
    <% } %> required >
    </div>

    <div class="input-control">
    <label for="description">Description</label>
    <textarea rows="5" cols="10" name="inv_description" id="description" 
    <%- locals.inv_description %> required></textarea>
   </div>

   <div class="input-control">
    <label for="image">Image Path</label>
    <input type="text" id="image" name="inv_image" 
    value="/images/vehicles/no-image.png"  <% if(locals.inv_image) { %> value="<%= locals.inv_image %>"
    <% } %> required>
    </div>

    <div class="input-control">
        <label for="thumbnail">Thumbnail Path</label>
        <input type="text" id="thumbnail" name="inv_thumbnail" 
        value="/images/vehicles/no-image.png" 
        <% if(locals.inv_thumbnail) { %> value="<%= locals.inv_thumbnail %>"
        <% } %> required>
    </div>

     <div class="input-control">
        <label for="price">Price</label>
        <div class="small"><i>decimal or integer</i></div>
        <input type="text" id="price" name="inv_price" 
        required pattern="^\d+(\.\d{2})?$"  <% if(locals.inv_price) { %> value="<%= locals.inv_price %>"
        <% } %>>
    </div>

    <div class="input-control">
        <label for="year">Year</label>
        <div class="small"><i>4-digit year</i></div>
        <input type="text" id="year" name="inv_year" 
        required pattern="^\d{4}$"  <% if(locals.inv_year) { %> value="<%= locals.inv_year %>"
        <% } %>>
    </div>

    <div class="input-control">
        <label for="miles">Miles</label>
        <div class="small"><i>digits only</i></div>
        <input type="text" id="miles" name="inv_miles" 
        required pattern="\d+$"  <% if(locals.inv_miles) { %> value="<%= locals.inv_miles %>"
        <% } %>>
    </div>

    <div class="input-control">
        <label for="color">Color</label>
        <input type="text" id="color" name="inv_color" 
        required  <% if(locals.inv_color) { %> value="<%= locals.inv_color %>"
        <% } %>>
    </div>    
    
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
    
    <button type="submit" disabled>Update Vehicle</button>
    <script src="/js/inv-update.js"></script> 
</form>
